 .navbar{
     width: 250px;
     height: 100%;
 }
 .img_profile{
     width: 150px;
     height: 150px;
     border-radius: 100%;
     border: 10px 
 }
 .navbar-nav{
     color: white;
     font-size: 20px;
     font-family:"pooppins",sans-serif;
 }